*{
	margin: 0px;
	padding: 0px;
}

#container{
	width: 550px;
	padding: 25px;

}

	#container h1{
		margin-left: 25px;
		color: blue;
	}

	#container p{
		margin-left: 25px;
		color: red;
	}

	#container h2{
		margin-left: 25px;
		color: green;
	}

	#container ul{
		display: inline;
		margin-left: 25px;
	}

		#container li{
			display: inline-block;
			margin-left: 40px;
		}